Store/.vs
Store/Store/bin
Store/Store/obj
Store/Tester/bin
Store/Tester/obj
Store/Store_DataAccessLayer/bin
Store/Store_DataAccessLayer/obj
Store/Store_DataAccessLayer_Bib_PostgreSQL/bin
Store/Store_DataAccessLayer_Bib_PostgreSQL/obj

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
Store/DataAccessLayer_Interface/bin
Store/DataAccessLayer_Interface/obj
Store/Store_DataAccessLayer_SQLite/obj
Store/Store_DataAccessLayer_SQLite/bin
