<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-4 col-md-6 pb-1" style="border: 1px solid black;" *ngFor="let categorie of categories">
            <div class="cat-img position-relative overflow-hidden mb-3"  style="padding: 30px;">
                <p class="text-right">{{categorie.quantity}} Products</p>
                <a href=""  #categorieLink class="cat-img position-relative overflow-hidden mb-3" (click)="handelClikOnCategorie($event)">
                    <img class="img-fluid" [src]="categorie.imagePath" alt="">
                </a>
                <h5 class="font-weight-semi-bold m-0">{{categorie.name}}</h5>
            </div>
        </div>
       
    </div>
</div>
